body {
  background-color: aliceblue;
  background-image: url(../imgs/bgschool.jpg);
}
img {
  width: 300px;
}
.title h1 {
  display: flex;
  justify-content: center;
}
.card img {
    height: 200px;
}

form {
  margin-top: 1rem;
  padding: 2rem;
}

footer {
  padding: 1rem;
  margin-top: .5rem;
  font-size: 1.2rem;
  font-weight: 500;

}
